html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Archive';
  src: url('Archive.woff2') format('woff2'),
      url('Archive.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fca5a5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f87171; 
}

#logo {
  font-family: 'Archive';
}